.cartContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 89px;
  }
  
  .cartContent > img {
    height: 120px;
    width: 100px;
    text-align: center;
    
}
  
  .cartTotal {
    text-align: center;
    margin: 1px;
    font-size: x-large;
    font-weight: bold;
  
  }

  
  .cart-message-center {
    text-align: center;
    margin-top: 55px;
    font-size: 44px;
    color: rgba(8, 8, 71, 0.916);
    font-weight: 500;

  
  }
  
  .counter-button {
    cursor: pointer;
    font-weight: bold;
    font-size: 19px;
    color: #000000;
    border: none;
    
        

  }
  
  .cart-delete-button {
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #b90f0f;
    border: none;
    background-color: #160404;
    width: 19px;
    height: 19px;
    margin: 1px;
    
  }
  
  .cart-items-total {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
  }