.nav-container {
    position:sticky;
    z-index: 9;
    top: 0;

   
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 11vh;
    background-color: rgb(14, 9, 9);
    color: white;
}

.navbar-logo {
    justify-self: start;
    margin-left: 18px;
    color: aliceblue;
    margin-top: 3vh;
    cursor: pointer;
}

.carrito {
    font-size: 26px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;
}

